<div class="comments">
	<h4 class="text-primary"><span class="glyphicon glyphicon-book"></span> Comments</h4>
	<%= form_for @sale, :url => add_comment_sale_path, remote: true do |f| %>
		
		<div class="form-group">
	    <%= f.text_area :comments, :class => "form-control", :placeholder => "Comments Section", :onchange => "$('.sale_comments').click();" %>
	  </div>

	  <%= submit_tag "Submit", :class => "btn btn-primary btn-lg sale_comments" %>

	<% end %>
</div>