<div class="dashboard_menu">
	<ul class="nav nav-pills">
	  <li><%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-user') + " Users", users_path %></li>
	  <li><%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-stats') + " Reports", reports_path %></li>
	  <li><%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-user') + " Configuration", configurations_path %></li>
	</ul>
</div>